$default-font-family: gentona, 'proxima nova', 'Helvetica Neue', Helvetica, sans-serif;
$heading-font-family: quadon, $default-font-family;
$default-line-height: 1.4;
$fz-deci: 0.59375rem;
$fz: 0.875rem;
$h1: 19.5rem;
$h2: 2.625rem;
$h3: 1.8125rem;
$black: #4a484c;
$green: #86c8bc;
$grey: #e5e2e0;
$blue: #418fde;
$yellow: #ffcd00;

@import 'bower_components/sanitize-css/sanitize.scss';
@import 'bower_components/breakpoint-sass/stylesheets/_breakpoint.scss';





//
// @TODO: Add docs to _ir!
//
@mixin _ir($w: null, $h: null) {
  overflow: hidden;
  @if type-of($w) == 'number' {

    width: $w*1px;
  }
  @if type-of($h) == 'number' {
    height: $h*1px;
  }
  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 150%;
  }
}


//
// @TODO: Add docs to _container!
//
@mixin _container {
  width: 85%;
  max-width: 64rem;
  margin-right: auto;
  margin-left: auto;
}


//
// @TODO: Add docs to _section!
//
@mixin _section($pad: null) {
  margin-top: 4rem;
  font-size: 1.8125rem;
  font-weight: bold;
  line-height: 1.2;
  @if $pad == true {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}


//
// @TODO: Add docs to _animate!
//
@mixin _animate {
  transition: all 0.3s ease-in-out;
}




:root {
  color: $black;
}




a {
  @include _animate;
}




h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}


h1,
.h1 {
  font-size: $h1;
}

h2,
.h2 {
  font-size: $h2;
}

h3,
.h3 {
  font-size: $h3;
}




img {
  max-width: 100%;
  height: auto;
}
svg {
  max-width: 100%;
  height: auto;
}





.hide {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}



.site-masthead {
  width: 50%;
  max-width: 270px;
  margin: 0 auto;
}


.brand-21cc {
  @include _ir;
  display: block;
  height: 0;
  padding-top: 70.833333333%;
  background: transparent url('../images/jhu-21st-century-logo.svg') center center no-repeat;
}

.govex-intro {
  @include _container;
  @include _section;

  color: $green;
}

.govex-intro-title {
  // hack to make sure G in "GovEx" lined up
  margin-left: -0.05em;
  font-family: $heading-font-family;
  font-size: 88px;
  line-height: 1;

  @include breakpoint(28rem) {
    font-size: 128px;
  }

  @include breakpoint(45rem) {
    font-size: 156px;
  }
}





.partners {
  @include _section;
  @include _container;
}

.partners-heading {
}


.cities-list {
  margin-top: 2rem;
  list-style: none;
}

.cities-list-item {
  @include breakpoint(45rem) {
    display: inline-block;
    width: 11.75%;
    font-size: 14px;
  }
}

.cities-list-item + .cities-list-item {
  @include breakpoint(45rem) {
    margin-top: 0;
  }

  margin-top: 1rem;
}

.cities-item {
  display: block;
  position: relative;
  height: 0;
  padding-top: 100%;
  border-radius: 100%;
  background-color: $grey;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.cities-item-title {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  text-align: center;
}

#cities-chattanooga {
  background-image: url('../images/cities-chattanooga.png');
}

#cities-jackson {
  background-image: url('../images/cities-jackson.png');
}

#cities-kc {
  background-image: url('../images/cities-kc.png');
}

#cities-louisville {
  background-image: url('../images/cities-louisville.png');
}

#cities-mesa {
  background-image: url('../images/cities-mesa.png');
}

#cities-nola {
  background-image: url('../images/cities-nola.png');
}

#cities-seattle {
  background-image: url('../images/cities-seattle.png');
}

#cities-tulsa {
  background-image: url('../images/cities-tulsa.png');
}



.books {
  @include _section($pad: true);

  background-color: $grey;
}

.books-canister {
  @include _container;
}

.books-list {
  display: table;
  overflow: auto;
  padding-left: 0;
  margin-top: 2.625rem;
  list-style: none;
  text-align: center;
}

.books-list-item {
  @include breakpoint(45rem) {
    display: table-cell;
  }
}

.books-list-item + .books-list-item {
  @include breakpoint(45rem) {
    padding-left: 1rem;
    margin-top: 0;
  }

  margin-top: 2.625rem;
}



.wwc {
  @include _container;
  @include _section;

  color: $blue;
  a:link,
  a:active,
  a:visited {
    text-decoration: underline;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
    color: $black;
  }
}




.contact {
  @include _container;
  @include _section;
  a:link,
  a:active,
  a:visited {
    text-decoration: underline;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
    color: $yellow;
  }
}




.join-us {
  @include _container;
  @include _section;
}

.job-list {
  margin-top: 1rem;
  list-style: none;
}

.job-list-item {
}

.job-item-link {
  a:link,
  a:active,
  a:visited {
    text-decoration: underline;
  }
  &:hover,
  &:focus {
    color: $yellow;
  }
}







.site-info {
  @include _section($pad: true);

  color: white;
  background: $black;
}

.site-info-canister {
  @include _container;
}

.site-info-copyright {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.site-info-brand-21cc {
  @include _ir(240, 170);

  display: block;
  margin: 0 auto;
  background: transparent url('../images/jhu-21st-century-logo-white.svg') center center no-repeat;
}

.site-info-brand-govex {
  display: block;
  width: 240px;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: $heading-font-family;
  font-size: 29px;
  line-height: 1;
}
