/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
pre,textarea {
    overflow:auto
}

.books-list,.cities-list,.job-list,nav ol,nav ul {
    list-style:none
}

:root {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%;
    box-sizing:border-box;
    cursor:default;
    font-family:gentona,"proxima nova","Helvetica Neue",Helvetica,sans-serif;
    line-height:1.4;
    text-rendering:optimizeLegibility;
    vertical-align:top;
    color:#4a484c
}

[hidden],audio:not([controls]),template {
    display:none
}

details,main,summary {
    display:block
}

input[type=number] {
    width:auto
}

input[type=search] {
    -webkit-appearance:textfield
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance:none
}

progress {
    display:inline-block
}

small {
    font-size:75%
}

textarea {
    resize:vertical
}

[unselectable] {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

*,::after,::before {
    box-sizing:inherit;
    color:inherit;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
    text-decoration:inherit;
    vertical-align:inherit;
    border-style:solid;
    border-width:0
}

.contact a:active,.contact a:link,.contact a:visited,.job-item-link a:active,.job-item-link a:link,.job-item-link a:visited,.wwc a:active,.wwc a:focus,.wwc a:hover,.wwc a:link,.wwc a:visited {
    text-decoration:underline
}

* {
    margin:0;
    padding:0;
    cursor:inherit
}

a,button,input,select,textarea {
    cursor:initial
}

button,input,select,textarea {
    background:0 0
}

code,kbd,pre,samp {
    font-family:monospace,monospace
}

.govex-intro-title,.site-info-brand-govex {
    font-family:quadon,gentona,"proxima nova","Helvetica Neue",Helvetica,sans-serif
}

input {
    min-height:1.4px
}

select {
    -moz-appearance:none;
    -webkit-appearance:none
}

select::-ms-expand {
    display:none
}

select::-ms-value {
    color:currentColor
}

table {
    border-collapse:collapse;
    border-spacing:0
}

::-moz-selection {
    background-color:#B3D4FC;
    text-shadow:none
}

::selection {
    background-color:#B3D4FC;
    text-shadow:none
}

@media screen {
[hidden~=screen] {
    display:inherit
}

[hidden~=screen]:not(:active):not(:focus):not(:target) {
    clip:rect(0 0 0 0)!important;
    position:absolute!important
}
}

a {
    transition:all .3s ease-in-out
}

h1,h2,h3,h4,h5 {
    line-height:1
}

.h1,h1 {
    font-size:10.5rem
}

.h2,h2 {
    font-size:2.625rem
}

.govex-intro,.h3,h3 {
    font-size:1.8125rem
}

img,svg {
    max-width:100%;
    height:auto
}

.hide {
    position:absolute!important;
    overflow:hidden;
    clip:rect(1px,1px,1px,1px);
    width:1px;
    height:1px
}

.site-masthead {
    width:50%;
    max-width:270px;
    margin:0 auto
}

.brand-21cc {
    overflow:hidden;
    display:block;
    height:0;
    padding-top:70.833333333%;
    background:url(../images/jhu-21st-century-logo.svg) center center no-repeat
}

.books,.cities-item {
    background-color:#e5e2e0
}

.brand-21cc:before {
    content:'';
    display:block;
    width:1px;
    height:150%
}

.govex-intro,.partners {
    margin-top:4rem;
    width:85%
}

.govex-intro {
    max-width:64rem;
    margin-right:auto;
    margin-left:auto;
    font-weight:700;
    line-height:1.2;
    color:#86c8bc
}

.govex-intro-title {
    margin-left:-.05em;
    font-size:88px;
    line-height:1
}

.books-canister,.partners {
    max-width:64rem;
    margin-right:auto;
    margin-left:auto
}

.books,.partners {
    font-weight:700;
    line-height:1.2
}

@media (min-width:28rem) {
.govex-intro-title {
    font-size:128px
}
}

@media (min-width:45rem) {
.govex-intro-title {
    font-size:200px
}
}

@media (min-width:64rem) {
.govex-intro-title {
    font-size:314px
}
}

.partners {
    font-size:1.8125rem
}

.cities-list {
    margin-top:2rem
}

.cities-list-item+.cities-list-item {
    margin-top:1rem
}

@media (min-width:45rem) {
.cities-list-item {
    display:inline-block;
    width:11.75%;
    font-size:14px
}

.cities-list-item+.cities-list-item {
    margin-top:0
}
}

.cities-item {
    display:block;
    position:relative;
    height:0;
    padding-top:100%;
    border-radius:100%;
    background-repeat:no-repeat;
    background-position:center bottom;
    background-size:cover
}

.books,.site-info {
    padding-top:4rem;
    padding-bottom:4rem
}

.cities-item-title {
    position:absolute;
    top:1rem;
    left:0;
    width:100%;
    text-align:center
}

#cities-chattanooga {
    background-image:url(../images/cities-chattanooga.png)
}

#cities-jackson {
    background-image:url(../images/cities-jackson.png)
}

#cities-kc {
    background-image:url(../images/cities-kc.png)
}

#cities-louisville {
    background-image:url(../images/cities-louisville.png)
}

#cities-mesa {
    background-image:url(../images/cities-mesa.png)
}

#cities-nola {
    background-image:url(../images/cities-nola.png)
}

#cities-seattle {
    background-image:url(../images/cities-seattle.png)
}

#cities-tulsa {
    background-image:url(../images/cities-tulsa.png)
}

.books {
    margin-top:4rem;
    font-size:1.8125rem
}

.books-list,.books-list-item+.books-list-item {
    margin-top:2.625rem
}

.books-canister {
    width:85%
}

.books-list {
    display:table;
    overflow:auto;
    padding-left:0;
    text-align:center
}

@media (min-width:45rem) {
.books-list-item {
    display:table-cell
}

.books-list-item+.books-list-item {
    padding-left:1rem;
    margin-top:0
}
}

.contact,.join-us,.wwc {
    margin-top:4rem;
    font-size:1.8125rem;
    font-weight:700;
    line-height:1.2;
    width:85%;
    max-width:64rem;
    margin-right:auto;
    margin-left:auto
}

.wwc {
    color:#418fde
}

.wwc a:focus,.wwc a:hover {
    color:#4a484c
}

.contact a:focus,.contact a:hover {
    text-decoration:underline;
    color:#ffcd00
}

.job-list {
    margin-top:1rem
}

.job-item-link:focus,.job-item-link:hover {
    color:#ffcd00
}

.site-info {
    margin-top:4rem;
    font-size:1.8125rem;
    font-weight:700;
    line-height:1.2;
    color:#fff;
    background:#4a484c
}

.site-info-canister {
    width:85%;
    max-width:64rem;
    margin-right:auto;
    margin-left:auto
}

.site-info-copyright {
    text-align:center;
    font-size:14px;
    font-weight:400
}

.site-info-brand-21cc {
    overflow:hidden;
    width:240px;
    height:170px;
    display:block;
    margin:0 auto;
    background:url(../images/jhu-21st-century-logo-white.svg) center center no-repeat
}

.site-info-brand-21cc:before {
    content:'';
    display:block;
    width:1px;
    height:150%
}

.site-info-brand-govex {
    display:block;
    width:240px;
    margin-top:2rem;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    font-size:29px;
    line-height:1
}
.site-info-brand-WWC-BbP {
    overflow:hidden;
    height:170px;
    display:block;
    margin:0 auto;
    background-image:url(../images/WhatWorksCitiesBbp_Black-2.png) center
}
